@font-face {
    font-family: "Nike Futura";
    src: url('../Futura\ Condensed\ Extra\ Bold.otf');
}


button {
    background-color: #111111;
    color: white;
    border-radius: 2em;
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid black;
    cursor: pointer;
}
button:hover {
    background-color: #666;
    border: 1px solid #666;
}

.light {
    color: #999;
}

.scollbar::-webkit-scrollbar {
    height: 7px;
}
.scollbar::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 1em;
    transition-duration: .3s;
}
.scollbar:hover::-webkit-scrollbar-thumb {
    background-color: #444;
}

#nav__2 {
    position: static;
    z-index: 9999;
}

#section__1 {
    padding: 0 36px;
}
/* === forth navbar === */
#nav__4 {
    width: 100%;
    height: 104px;
    position: sticky;
    top: 0;
    background-color: white;

    display: flex;
    align-items: center;

    z-index: 9999;
}


#nav__4 .item2 {
    width: 100%;
}
#nav__4 .item1 {
    font-size: 24px;
}
#nav__4 ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1.5em;
}
#nav__4 a {
    text-decoration: none;
    color: black;
}
#nav__4 a:hover {
    color: #666;
}


#section {
    padding: 0 32px;
}
#section > img {
    width: 100%;
    margin-bottom: 2em;
}
#section h1 {
    font-size: 24px;
    font-weight: 400;
}

/* ==== first article ==== */
#article__1 {
    text-align: center;
    margin-bottom: 5em;
}

#article__1 h1 {
    font-size: 4.4em;
    font-family: "Nike Futura", sans-serif;
    letter-spacing: -3px;
    line-height: 1;
}
#article__1 h1 + p {
    margin: 1.5em 0;
}

/* ==== second article ==== */
.article__2 {
    margin-bottom: 4em;
}
.article__2 .container {
    display: grid;
    grid-template-columns: repeat(10, 30%);
    grid-auto-rows: auto;
    gap: 1em;
    overflow: auto;
    margin: 2em 0;
}
.container div img {
    width: 100%;
}

.container .information {
    display: flex;
    justify-content: space-between;
    padding: 1em .7em;
}
.container .information p {
    line-height: 1.5;
}


/* third article */
.article__3 {
    margin: 5em 0;
}
.article__3 .container2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 700px;
    gap: 1em;
    margin: 2em 0;
}
.article__3 .container2 > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 3em;
}
.article__3 .container2 > div h2 {
    margin-bottom: 1em;
}
.article__3 .container2 > div:nth-child(1) {
    color: white;
    background: url('../img/img11.webp') center/cover;
}
.article__3 .container2 > div:nth-child(1) button {
    background-color: white;
    color: black;
}
.article__3 .container2 > div:nth-child(1) button:hover {
    background-color: #777;
    border: 1px solid #666;
}
.article__3 .container2 > div:nth-child(2) {
    background: url('../img/img12.webp') center/cover;
}

/* === container 3 === */
.article__3 .container3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 700px;
    margin: 2em 0;
}
.article__3 .container3 > div {
    background: url('../img/img13.jpg') center/cover;
}

/* === container 4 === */
.article__3 .container4 {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 700px;
    margin: 2em 0;
}
.article__3 .container4 > div {
    background: url('../img/img15.jpg') center/cover;
}


/* article 2 ---- container 2 */
.article__2 .container2 {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    padding: 1em 0;
    margin: 2em 0;
}
.article__2 .container2 div {
    position: relative;
}
.article__2 .container2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.article__2 .container2 button {
    position: absolute;
    bottom: 2em;
    left: 2em;
    background-color: white;
    color: black;
    border: 1px solid white;
}
.article__2 .container2 button:hover {
    background-color: rgb(182, 182, 182);
    border: 1px solid rgb(182, 182, 182);
}


/* article__4 */
.article__4 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container5 {
    width: 880px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
}

.container5 ul {
    list-style-type: none;
    font-size: 15px;
}
.linkText {
    color: rgb(149, 149, 149);
    margin-top: 1em;
}
.linkText li {
    padding: .6em 0;
    cursor: pointer;
}
.linkText li:hover {
    color: black;
}



/* === footer === */
footer {
    width: 100%;
    height: 300px;
    background-color: #111;
    margin-top: 3em;
    color: white;
}

footer .container6 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1em 0;
}
footer .container6 ul {
    list-style: none;
    font-size: 14px;
}
.container6 .item1 {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
}

.container6 .ul1 {
    font-weight: 500;
}
.container6 .ul1 li, .container6 .ul2 li {
    margin: 1.5em 0;
    cursor: pointer;
}

.container6 .ul2 ul{
    font-size: 12px;
    color: rgb(182, 182, 182);
}
.container6 .ul2 ul li:hover {
    color: white;
}


footer .item3 {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    padding: 1em 2em 0;
}
footer .item3 div {
    display: flex;
    gap: 1em;
}
footer .item3 p:nth-child(2) {
    color: rgb(182, 182, 182);

}
footer .item3 ul {
    list-style: none;
    display: flex;
    gap: 2em;
    color: rgb(182, 182, 182);
}
footer .item3 ul li:hover {
    color: white;
    cursor: pointer;
}
/* footer .container6 div {
    background-color: red;
} */

#img-sm {
    display: none;
}




@media (max-width: 975px) {
    #section {
        padding: 0 10px;
    }
    #nav__4 {
        height: 140px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 1em;
    }
    #nav__4 ul {
        justify-content: flex-start;
    }

    #article__1 {
        text-align: left;
    }
    #article__1 h1 {
        font-size: 3em;
    }


    .article__2 .container {
        grid-template-columns: repeat(10, 300px);
    }


    .article__3 .container2 {
        grid-auto-rows: 500px;
    }
    .article__3 .container2 > div {
        padding: 1em;
    }

    .article__2 .container2 {
        display: grid;
        grid-template-columns: repeat(3, 300px);
        gap: 1em;
        margin: 2em 0;
        overflow-y: hidden;
        overflow-x: auto;
    }

    .container5 {
        grid-template-columns: 1fr;
    }
    .linkText {
        height: 0px;
        padding: 0 1em;
        overflow: hidden;
        transition: .3s;
    }
    .container5 div:hover .linkText {
        height: 400px;
        animation: introText .5s;
    }
    @keyframes introText {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }


    footer {
        height: auto;
        padding-bottom: 2em;
    }
    footer .container6 {
        grid-template-columns: 1fr;
    }
    .container6 .item1 {
        grid-template-columns: 1fr;
        justify-items: start;
        padding: 1em;
    }
    
    .container6 .ul2 ul {
        height: 0px;
        padding: 0 1em;
        overflow: hidden;
        transition: .3s;
    }
    .container6 .ul2:hover ul {
        height: 170px;
    }


    footer .item3 {
        flex-direction: column;
    }
    footer .item3 div {
        flex-direction: column;
        margin-bottom: 1em;
    }
    footer .item3 ul {
        flex-direction: column;
    }

    #img-lg {
        display: none;
    }
    #img-sm {
        display: block;
    }
}




@media (max-width: 607px) {
    .article__3 .container2 {
        grid-template-columns: repeat(1, 1fr);
    }

    .article__3 .container3 > div {
        background: url('../img/img14.webp') center/cover;
    }

    .article__3 .container4 > div {
        background: url('../img/img16.webp') center/cover;
    }
}