* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 200vh;
}

/* ===== First Navbar ===== */
#nav__1 {
    width: 100%;
    height: 36px;
    padding: 0 36px;
    background-color: #f2f2f2;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav__1 ul {
    list-style: none;
    display: flex;
    font-size: 13px;
}

#nav__1 ul a {
    text-decoration: none;
    border-left: 1px solid black;
    padding: 0 1em;
    color: black;
}
#nav__1 ul li:nth-child(1) a {
    border-left: none;
}
#nav__1 ul a:hover {
    color: #666;
}


/* ===== Second Navbar ===== */
#nav__2 {
    width: 100%;
    height: 60px;
    padding: 0 36px;
    position: sticky;
    top: 0;
    right: 0;
    transition: .2s;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#nav__2 ul {
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav__2 ul a {
    text-decoration: none;
    color: black;
    padding: 1em;
}
#nav__2 ul a:hover {
    border-bottom: 2px solid black;
}

#nav__2 .item3 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: .5em;
}
#nav__2 .item3 a {
    padding: .5em .5em .3em .5em;
    border-radius: 50%;
}
#nav__2 .item3 a:hover {
    background-color: #e3e3e3;
}



.ham {
    display: none;
}
.svgDisplay {
    display: none;
}
.close {
    display: none;
}

@media(max-width: 1114px) {
    .hidden-xxl {
        display: none;
        color: red;
    }
}
@media(max-width: 1035px) {
    .hidden-xl {
        display: none;
    }
}
@media(max-width: 980px) {
    .hidden-lg {
        display: none;
    }
}



@media (max-width: 975px) {
    .hidden-xxl, .hidden-xl, .hidden-lg {
        display: block;
    }
    #nav__1 {
        display: none;
    }

    #nav__2 {
        grid-template-columns: repeat(2, 1fr);
    }
    #nav__2 .item2 {
        position: relative;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.288);
        backdrop-filter: blur(3px);
        overflow: hidden;

        position: absolute;
        top: 0;
        right: 0;
        animation: .3s item2;

        display: none;
    }
    @keyframes item2 {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    #nav__2 ul {
        width: 320px;
        height: 100vh;
        position: absolute;
        top: 0;
        right: 0;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        background-color: white;
        padding: 1em;
        transform: translateX(100%);
        transition: .3s;
    }
    #nav__2 ul li {
        width: 100%;
    }
    #nav__2 ul a {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: .5em;
        font-size: 24px;
    }
    #nav__2 ul a:hover {
        border-bottom: none;
    }
    #nav__2 ul a:hover .svgDisplay {
        transform: translateX(-20px);
    }

    .ham {
        display: block;
    }
    .svgDisplay {
        display: block;
        transition: .3s;
    }
    .close {
        display: block;
    }
}